#barramenu {
    width: 400px;
    height: 1000px;
    background-color: grey;
}
.menu-icon {
width: 30px;
height: 22px;
display: flex;
flex-direction: column;
justify-content: space-between;
cursor: pointer;
}

.menu-icon div{
height: 4px;
background-color: black;
border-radius: 2px;
}

#barramenu ul {
    display: none;
}

#barramenu.menu-visible ul {
    display: block;
}

.pantalla {
    display: none;
}
.pantalla.activa {
    display: block;
}

#menu-visible li {
    cursor: pointer;
} 