#barramenu {
    width: 400px;
    height: 1000px;
    background-color: grey;
}

body {
    display: flex;
}

.menu-icon {
width: 30px;
height: 22px;
display: flex;
flex-direction: column;
justify-content: space-between;
cursor: pointer;
}

.menu-icon div{
height: 4px;
background-color: black;
border-radius: 2px;
}

#barramenu ul {
    display: none;
}

#barramenu.menu-visible ul {
    display: block;
}

.pantalla {
    display: none;
    height: 100%;
    width: 600px;
}
.pantalla.activa {
    display: block;
}

#menu-visible li {
    cursor: pointer;
} 
#folders {
    background-color: lightblue
}
#favourites {
    background-color: blue
}
#created {
    background-color: green
}
#bin {
    background-color: yellow
}
#perfil {
    background-color: yellowgreen
}
#settings {
    background-color: red
}
