body {
    background-color: grey;
    margin: 0;
    height: 300vh;
    height: 100vh; /* altura de la ventana */
    margin:0;
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;     /* centro vertical */
  }
  #miImagen {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100px;
    height: auto;
    z-index: 1000;
  }
  #miImagen2 {
    position: fixed;
    bottom: 0px;  /* 10 píxeles desde abajo */
    left: 0px;    /* 10 píxeles desde la izquierda */
    width: 100px;
    height: auto;
    z-index: 1000;
  }
  
