@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #FFDD95;
    display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  height: 100vh; /* ocupa toda la altura de la ventana */
  margin: 0;
  font-family: "Inter", sans-serif;
}
.rectangulo {
    background-color: #86E3CE;
    text-align: center;
    height: 500px;
    width: 1000px;
    
}
.flecha {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 38px;
    cursor: pointer;
}

.titulo {
  font-size: 40px;      /* tamaño más grande */
    margin-top: 50px;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 30px;   /* cambiá el número para hacerlo más grande */
  line-height: 1.4;  /* hace que el texto respire mejor */
  margin-top: 55px;
  text-align: justify;
  padding: 30px;
}