@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background-color: #FFDD95;
  margin: 0;
  overflow: visible;
  font-family: 'Poppins', sans-serif;
}

/* Nubes */
#nubeIzquierda, #nubeDerecha {
  position: fixed;
  width: 220px;        /* mismo tamaño para ambas */
  height: auto;
  z-index: 1;
}

#nubeIzquierda {
  bottom: 0;
  left: 0;
}

#nubeDerecha {
  top: 0;
  right: 0;
}

/* Cuadro central */
#rectangulo {
  width: 300px;          /* igual que referencia */
  height: auto;   
  background-color: #86E3CE;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding: 30px 32px 40px; 
}

/* Título */
.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;           /* referencia */
  font-weight: 400;          
  color: #000;
  margin-bottom: 22px;
}

/* Inputs */
.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
  margin: 0 auto 18px auto;
  margin-bottom: 36px;
}

.icono {
  width: 24px;
  height: 24px;
  margin-right: 18px;
}

input {
  width: 100%;
padding: 8px 0;
  border-radius: 0px;
  border: none;
  outline: none;
  font-size: 14px;
  border-bottom: 2px solid #222;
  background: transparent;
}


/* Botón */
#sesionbtn {
  background-color: #FA897B;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  width: 85%;
margin: 18px auto 0 auto;
}

#sesionbtn:hover {
  background-color: #f76c5e;
}

input::placeholder {
  color: #666;
  font-weight: 500;
}
