body {
  background-color: #FFDD95;
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}



/* Cuadro central */
.mi-contenedor {
  width: 1000px;
  height: 480px;
  background-color: #86E3CE;
  border-radius: 70px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro se alineen verticalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.icon {
  width: 600px;
  height: 120px;
  margin-right: 10px;
  position: relative; /* Para asegurarnos de que no se mueva */
  top: -70px; /* Ajuste para mantener la posición de los iconos si es necesario */
}



/* Botón */
.btn {
  background-color: #FA897B;
  color: white;
  border: 2px #A25248 solid;
  border-radius: 0px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Asegura que el texto esté centrado en los <p> */
  margin-bottom: 20px; 
}



.textoBotones {
  margin: 0; /* Elimina los márgenes adicionales del texto */
  line-height: normal; /* Elimina cualquier alto de línea que pueda estar afectando el centrado */
}


.parrafo {
  font-size: 28px;
  margin-right: 10px;
  position: relative; /* Para asegurarnos de que no se mueva */
  top: -55px; /* Ajuste para mantener la posición de los iconos si es necesario */
}

