body {
  background-color: #FFDD95;
  margin: 0;
  overflow: visible;
  font-family: 'Poppins', sans-serif;
}

/* Nubes */
#nubeIzquierda, #nubeDerecha {
  position: fixed;
  width: 220px;        /* mismo tamaño para ambas */
  height: auto;
  filter: brightness(0) invert(1); /* las vuelve blancas */
  z-index: 1;
}

#nubeIzquierda {
  bottom: 0;
  left: 0;
}

#nubeDerecha {
  top: 0;
  right: 0;
}

/* Cuadro central */
#rectangulo {
  width: 340px;
  height: 380px; /* Reducido el tamaño de la altura */
  background-color: #86E3CE;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding-top: 26px 28px 36px;
}

/* Título */
.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 18px;
}

/* Inputs */
.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 82%;
  margin: 0 auto 18px auto;
  margin-bottom: 18px;
}

.icono {
  width: 24px;
  height: 24px;
  margin-right: 18px;
}

input {
  width: 180px;
  padding: 10px;
  border-radius: 0px;
  border: none;
  outline: none;
  font-size: 14px;
  border-bottom: 2px solid #222;
  background: transparent;
}


/* Botón */
#sesionbtn {
  background-color: #FA897B;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  width: 76%;
margin: 18px auto 0 auto;
}

#sesionbtn:hover {
  background-color: #f76c5e;
}
